@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,500&display=swap');

:root {
  --logo-color: #F20505;
  --text-color: #F2F2F2 ;
  --background-color: #F2A2A9;
  --btn-hover: #F20530;
}

.logo {
  width: 100px;
  height: 50px;
}

body {
  background-color: var(--background-color);
}

/* catalogo */
.catalogo{
  background-color: var(--text-color);
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
}

.options {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 10px;
}

.options label:hover{
  color: var(--logo-color);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  flex-basis: calc(25% - 2rem); 
  margin-bottom: 2rem; 
}

.card-large{
  background-color: var(--text-color);
  padding: 2rem;
}

@media (max-width: 1046px) {
  .card {
    flex-basis: calc(50% - 2rem); 
  }
}

@media (max-width: 768px) {
  .card {
    flex-basis: 100%; 
  }
}

.stars {
  display: flex;
  list-style: none;
  padding: 0;
  color: #9a9898;
}

.checked{
  color:var(--logo-color);
}

.restaurantes{
  background-color: var(--text-color);
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
}

.restaurantes h2{
  padding: 1rem; 
}

#baseboard {
  width: 100%;
  height: 100px;
  margin-top: 4rem;
  background-color: #ea1d2c;

  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;

  position: static;
  bottom: 0;
}

#baseboard a {
  text-decoration: none;
  color: #fff;
}

#baseboard a:hover {
  text-decoration: underline;
  color: #000;
}

@media (max-width: 481px) {
  #baseboard {
      font-size: 0.8rem;
  }
}